<div class="callout__wrapper">
  <img class="callout__img" src="icons/callouts/unlocked.svg.png" alt="" />
  <div class="callout__title">No Password Required</div>
  <div class="callout__descr">
    Your TikTok account's safety is our top priority. We never ask for your
    password, so you can be sure that your account cannot be hacked or misused
    in any way.
  </div>
</div>

<div class="callout__questions__wrapper">
  <img
    class="questions__img"
    src="icons/callouts/question-mark.svg.png"
    alt=""
  />
  <div class="questions__title">How to get followers on TikTok?</div>
  <div class="questions__descr">
    GROWTOK is the quickest and most secure way to grow your Instagram
    following. All you need to do is enter your username, confirm your email and
    we will send you followers, 100% real.
  </div>
</div>
