<ul class="horizontal__list">
  <li class="horizonal__item">Fast Delivery</li>
  <li class="horizonal__item">100% Safe</li>
  <li class="horizonal__item">Real followers</li>
</ul>

<ul class="sponsorship__list">
  <li class="sponsorship__item">
    <img src="icons/sponsers/entrepreneur.png.png" alt="" />
  </li>
  <li class="sponsorship__item">
    <img src="icons/sponsers/gizmodo.png.png" alt="" />
  </li>
  <li class="sponsorship__item">
    <img src="icons/sponsers/wired.png.png" alt="" />
  </li>
  <li class="sponsorship__item">
    <img src="icons/sponsers/techcrunch.png.png" alt="" />
  </li>
  <li class="sponsorship__item">
    <img src="icons/sponsers/theverge.png.png" alt="" />
  </li>
  <li class="sponsorship__item">
    <img src="icons/sponsers/boingboing.png.png" alt="" />
  </li>
</ul>

<ul class="modal__list">
  <li class="modal__item">Moderate Organic Growth</li>
  <li class="modal__item">Essential Targeting Features</li>
  <li class="modal__item">Standard Support</li>
  <li class="modal__item">Speed Limit</li>
</ul>
