<div class="testimonials__wrapper">
  <img class="testimonials__img" src="icons/reviews/taylor.png.png" alt="" />
  <blockquote class="quote">
    <p>"This one absolutely takes the cake!"</p>
  </blockquote>
  <div class="testimonials__descr">
    GROWTOK has been a game-changer for my Instagram channel. I'm no longer
    anxious about my TT page, and I've seen my account grow by leaps and bounds.
    If you're looking to take your Instagram to the next level, I highly
    recommend it.
  </div>
  <div class="testimonials__inst">@blondeandambitiousblog</div>
  <img class="testimonials__stars" src="icons/reviews/5-star.png.png" alt="" />
</div>
